@import 'variables';

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    
}
body{
    font-family: $ff-norm;
    font-size: 1.6rem;
    background-color: $Cream;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/* =========================
      |GENERAL STYLINGS|
========================= */

a{
    text-decoration: none;
    color: initial;
}
li{
    list-style: none;
}
.section{
    padding-inline: 5%;
}
button{
    cursor: pointer;
    border: none;
}
img{
    max-width: 100%;
    display: block;
}