$White: rgb(255, 255, 255);
$Dark-cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);

$ff-header: 'Fraunces', sans-serif;
$ff-norm: 'Montserrat', sans-serif;


$fs-400: 1.2rem;
$fs_700: 3rem;

$fw-700: 700;
$fw-500: 500;